!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <title>ML API</title>
  <link rel="stylesheet" type="text/css" href="style.css"  
</head>

<body>

<h1> Loan Prediction </h1>
<form>
Married <br><input type ="text"  placeholder="1 for Yes 0 for NO"><br>
Graduated <br><input type ="text"  placeholder="1 for Yes 0 for NO"><br>
Loan Pending<br><input type ="text"  placeholder="1 for Yes 0 for NO"><br>

<input type="submit" name="Check Approval"
<br>
<br>


<h3>{{predict}}</h6> 

 </div>


</body>
</html>